<ion-header>
  <ion-toolbar>
    <ion-title>Sobre la aplicación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="center-elements">
    <div text-center>
      <p>
        En esta sección encontrará toda la información relacionada con la aplicación, como utilizarla y como recurrir 
        a los administradores, en caso que sea necesario.
      </p>
      <br />
      <ion-button expand="block" id="volver" [routerLink]="['']">Volver al inicio</ion-button>
    </div>
  </ion-row>
</ion-content>