<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bienvenido</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-list>
    <ion-list-header>
      Tus tareas...
    </ion-list-header>
    <ion-item *ngFor="let i of tasks">
      <ion-label>
        <h2>{{ i.title}}</h2>
        <h3>{{ i.done == 1 ? 'Realizada' : 'Pendiente' }}</h3>
        <p>Creada el: {{ i.created_at }}</p>
      </ion-label>
    </ion-item>
  </ion-list>


</ion-content>
